<div class="blocks-container blockchain-blocks-container" *ngIf="(loadingBlocks$ | async) === false; else loadingBlocksTemplate">
  <div *ngFor="let pastBlock of pastBlocks; let i = index; trackBy: trackByPastBlocksFn" >
    <div class="text-center bitcoin-block mined-block blockchain-blocks-{{ i }}" id="bitcoin-block-{{ pastBlock.height }}" [ngStyle]="blockStyles[i]" [class.blink-bg]="(specialBlocks[pastBlock.height] !== undefined)">
      <a draggable="false" [routerLink]="['/block/' | relativeUrl, pastBlock.id]" [state]="{ data: { block: pastBlock } }"
        class="blockLink" [ngClass]="{'disabled': (this.stateService.blockScrolling$ | async)}">&nbsp;</a>
      <div class="block-height">
        <a [routerLink]="['/block/' | relativeUrl, pastBlock.id]" [state]="{ data: { block: pastBlock } }">{{ pastBlock.height }}</a>
      </div>
      <div class="block-body">
        <div class="mediantime-posix">
          mediantime (POSIX): {{ pastBlock.mediantime }}
        </div>
        <div class="mediantime-utc">
          <b>mediantime delta: {{ pastBlock.mediantimeDiff }}</b>
        </div>
        <div *ngIf="pastBlock.mediantimeDiff < 600; else speeddownTemplate" class="mediantime-utc" >
          (<600)
        </div>
        <div *ngIf="pastBlock.timestamp !== lastPastBlock.mediantime; else goldTimestamp" class="time-utc" >
          time (POSIX): {{ pastBlock.timestamp }}
        </div>
        <ng-template #goldTimestamp>
          <div class="time-utc-gold">
            time (POSIX): {{ pastBlock.timestamp }}
          </div>
        </ng-template>
        <div class="mediantime-utc">
          time (UTC): {{ pastBlock.timestamp * 1000 | date:'yyyy-MM-dd HH:mm' }}
        </div>
        <div class="mediantime-utc">
          mediantime (UTC): {{ pastBlock.mediantime * 1000 | date:'yyyy-MM-dd HH:mm' }}
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!arrowVisible" id="arrow-up" [style.transition]="transition" [ngStyle]="{'left': arrowLeftPx + 'px' }"></div>
</div>

<ng-template #loadingBlocksTemplate>
  <div class="blocks-container">
    <div class="flashing">
      <div *ngFor="let block of emptyBlocks; let i = index; trackBy: trackByBlocksFn" >
        <div class="text-center bitcoin-block mined-block" id="bitcoin-block-{{ block.height }}" [ngStyle]="emptyBlockStyles[i]"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #speeddownTemplate>
  <div class="mediantime-utc">
    (>=600)
  </div>
</ng-template>