<div class="container-graph">
  <div>
    <div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> <span i18n="dashboard.difficulty|Difficulty">Difficulty</span>
        </div>
        <div class="card-body">
          <div class="incoming-transactions-graph">
            <app-line-chart
              [height]="500"
              [template]="'widget'"
              [data]="lastDifficultyEpochEndBlocksSeries"
              [startValue]="this.difficultySliderStartValue"
              [endValue]="this.difficultySliderEndValue"
            ></app-line-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
