#divider {
  width: 3px;
  height: 750px;
  left: 202px;
  top: -44px;
  background-image: url('/resources/divider-new.png');
  background-repeat: repeat-y;
  position: absolute;
  margin-bottom: 120px;
}

#divider > img {
  position: absolute;
  left: -100px;
  top: -28px;
}

.divider-hor {
  width: 193px;
  position: absolute;
  top: 190px;
  transition: 2s;
  border: 1px dashed #fff;
}

.blockchain-wrapper {
  overflow: hidden;
  min-height: 500px;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  app-tetris-blockspan-water,
  app-tetris-blockspan-navigator,
  app-tetris-add-strike {
    position: absolute;
    top: 0px;
    transition: 2s;
    width: 250px;
    height: 300px;
  }

  app-tetris-add-strike{
    left: -100px;
  }

  app-tetris-blockspan-navigator {
    left: 250px;
  }

  .future-blocks {
    position: absolute;
    top: 0px;
    left: -400px;
    transition: 2s;
    width: 250px;
    height: 300px;

    app-tetris-blockspan-water {
      position: unset;
    } 
  }
}

.position-container {
  position: absolute;
  left: 50%;
  top: 75px;
}

.position-container.liquid, .position-container.liquidtestnet {
  left: 420px;
}

@media (max-width: 767.98px) {
  .position-container {
    left: 95%;
  }
  .position-container.liquid, .position-container.liquidtestnet {
    left: 50%;
  }
  .position-container.loading {
    left: 50%;
  }
}

.black-background {
  background-color: #11131f;
  z-index: 100;
  position: relative;
}

.loading-block {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 300px;
  left: -150px;
  top: 0px;
}


.bitcoin-block {
  width: 145px;
  height: 160px;
}

.blockLink {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
}

.blockLink:hover {
  text-decoration: none;
}

.blockLink.disabled {
  pointer-events: none;
}

.mined-block {
  position: absolute;
  top: 0px;
  transition: 2s;
}

.block-size {
  font-size: 16px;
  font-weight: bold;
}

.blocks-container {
  position: absolute;
  top: 0px;
  left: 40px;
}

.block-body {
  text-align: center;
}

.time-difference {
  font-size: 13px;
}

.time-utc {
    font-size: 9px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.time-utc-posix {
  font-size: 9px;
  margin-right: 2px;
}
.time-utc-gold {
    font-size: 9px;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #F1B82D;
}
.mediantime-utc {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.mediantime-posix {
  font-size: 9px;
  margin-right: 2px;

  &.gold {
    color: #F1B82D;
  }
}
a.m-tooltip {
  position: absolute;
  z-index: 10;
}
.fees {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.fee-span {
  font-size: 11px;
  margin-bottom: 5px;
  color: #fff000;
}

.transaction-count {
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.block-height {
  position: absolute;
  font-size: 16px;
  bottom: 160px;
  width: 100%;
  left: -12px;
  z-index: 1;
}

.bitcoin-block::after {
  content: '';
  width: 145px;
  height: 24px;
  position:absolute;
  top: -24px;
  left: -20px;
  background-color: #232838;
  transform:skew(40deg);
  transform-origin:top;
}

.bitcoin-block::before {
  content: '';
  width: 20px;
  height: 160px;
  position: absolute;
  top: -12px;
  left: -20px;
  background-color: #191c27;

  transform: skewY(50deg);
  transform-origin: top;
}

.black-background {
  background-color: #11131f;
  z-index: 100;
  position: relative;
}

#arrow-up {
  position: relative;
  left: 30px;
  top: 140px;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #FFF;
}

.flashing {
  animation: opacityPulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes opacityPulse {
  0% {opacity: 0.7;}
  50% {opacity: 1.0;}
  100% {opacity: 0.7;}
}

::ng-deep app-future-block .mempool-block {
  right: auto !important;
}

#blockchain-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#blockchain-container::-webkit-scrollbar {
  display: none;
}
