<div class="tetris-blockspan">
  <div class="strike-block">
    <div class="strike-block--input">
      <input type="text" class="form-control text-center" [(ngModel)]="strike"><span>secs</span>
    </div>
    <fa-icon class="left fire" [icon]="['fas', 'tint']" [fixedWidth]="true"></fa-icon>
    <fa-icon class="left fire" [icon]="['fas', 'tint']" [fixedWidth]="true"></fa-icon>
    <fa-icon class="left fire" [icon]="['fas', 'tint']" [fixedWidth]="true"></fa-icon>
    <fa-icon class="left fire" [icon]="['fas', 'tint']" [fixedWidth]="true"></fa-icon>
  </div>
  <div class="to-block">
    {{ toBlock }}
    <div class="span-block">
      <input type="text" class="form-control text-center" [(ngModel)]="span" (ngModelChange)="spanChange()">
    </div>
  </div>
  <div class="from-block">
    {{ fromBlock }}
  </div>

  <div class="mt-5">
    <button type="button" class="btn btn-primary d-block w-100" (click)="addStrike()">Add</button>
  </div>
</div>
