<div class="container-xl" (window:resize)="onResize($event)">

  <div class="title-block" id="block">
    <h1>
      <ng-template [ngIf]="blockHeight === 0"><ng-container i18n="@@2303359202781425764">Genesis</ng-container>
        <span class="next-previous-blocks">
          <a *ngIf="showNextBlocklink" [routerLink]="['/block/' | relativeUrl, nextBlockHeight]" (click)="navigateToNextBlock()" i18n-ngbTooltip="Next Block" ngbTooltip="Next Block" placement="bottom">
            <fa-icon [icon]="['fas', 'angle-left']" [fixedWidth]="true"></fa-icon>
          </a>
          <a [routerLink]="['/block/' | relativeUrl, blockHash]">{{ blockHeight }}</a>
          <span placement="bottom" class="disable">
            <fa-icon [icon]="['fas', 'angle-right']" [fixedWidth]="true"></fa-icon>
          </span>
        </span>
      </ng-template>
      <ng-template [ngIf]="blockHeight" i18n="shared.block-title">Block <ng-container *ngTemplateOutlet="blockTemplateContent"></ng-container></ng-template>
      <ng-template #blockTemplateContent>
        <span class="next-previous-blocks">
          <a *ngIf="showNextBlocklink" [routerLink]="['/block/' | relativeUrl, nextBlockHeight]" (click)="navigateToNextBlock()" i18n-ngbTooltip="Next Block" ngbTooltip="Next Block" placement="bottom">
            <fa-icon [icon]="['fas', 'angle-left']" [fixedWidth]="true"></fa-icon>
          </a>
          <span *ngIf="!showNextBlocklink" placement="bottom" class="disable">
            <fa-icon [icon]="['fas', 'angle-left']" [fixedWidth]="true"></fa-icon>
          </span>
          <a [routerLink]="['/block/' | relativeUrl, blockHash]">{{ blockHeight }}</a>
          <a *ngIf="showPreviousBlocklink && block" [routerLink]="['/block/' | relativeUrl, block.previousblockhash]" (click)="navigateToPreviousBlock()" i18n-ngbTooltip="Previous Block" ngbTooltip="Previous Block" placement="bottom">
            <fa-icon [icon]="['fas', 'angle-right']" [fixedWidth]="true"></fa-icon>
          </a>
          <span *ngIf="!showPreviousBlocklink" placement="bottom" class="disable">
            <fa-icon [icon]="['fas', 'angle-right']" [fixedWidth]="true"></fa-icon>
          </span>
        </span>
      </ng-template>
    </h1>

    <div class="grow"></div>

    <button [routerLink]="['/' | relativeUrl]" class="btn btn-sm">&#10005;</button>
  </div>

  <div class="clearfix"></div>

  <ng-template [ngIf]="!isLoadingBlock && !error">

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td i18n="block.mediantime">Mediantime (Posix)</td>
                <td>
                  &lrm;{{ block.mediantime }}
                </td>
              </tr>
              <tr>
                <td i18n="block.mediantime">Mediantime (UTC)</td>
                <td>{{ block.mediantime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td class="td-width" i18n="block.hash">Hash</td>
                <td><a [routerLink]="['/block/' | relativeUrl, block.id]" title="{{ block.id }}">{{ block.id | shortenString : 13 }}</a> <app-clipboard class="d-none d-sm-inline-block" [text]="block.id"></app-clipboard></td>
              </tr>
              <tr *ngIf="network !== 'liquid' && network !== 'liquidtestnet'">
                <td i18n="block.bits">Bits</td>
                <td>{{ block.bits | decimal2hex }}</td>
              </tr>
              <tr>
                <td class="td-width" i18n="block.difficulty">Difficulty</td>
                <td>{{ block.difficulty }}</td>
              </tr>
              <tr>
                <td i18n="block.chainwork">Chainwork</td>
                <td>{{ block.chainwork | shortenString : 13 }} <app-clipboard class="d-none d-sm-inline-block" [text]="block.chainwork"></app-clipboard> </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <ng-template [ngIf]="fees !== undefined" [ngIfElse]="loadingFees">
                <tr>
                  <td i18n="block.total-fees|Total fees in a block">Total fees</td>
                  <td *ngIf="network !== 'liquid' && network !== 'liquidtestnet'; else liquidTotalFees"><app-amount [satoshis]="fees * 100000000" digitsInfo="1.2-2" [noFiat]="true"></app-amount> <span class="fiat"><app-fiat [value]="fees * 100000000" digitsInfo="1.0-0"></app-fiat></span></td>
                  <ng-template #liquidTotalFees>
                    <td><app-amount [satoshis]="fees * 100000000" digitsInfo="1.2-2" [noFiat]="true"></app-amount>&nbsp; <app-fiat [value]="fees * 100000000" digitsInfo="1.2-2"></app-fiat></td>
                  </ng-template>
                </tr>
                <tr *ngIf="network !== 'liquid' && network !== 'liquidtestnet'">
                  <td i18n="block.subsidy-and-fees|Total subsidy and fees in a block">Subsidy + fees:</td>
                  <td>
                    <app-amount [satoshis]="(blockSubsidy + fees) * 100000000" digitsInfo="1.2-2" [noFiat]="true"></app-amount> <span class="fiat"><app-fiat [value]="(blockSubsidy + fees) * 100000000" digitsInfo="1.0-0"></app-fiat></span>
                  </td>
                </tr>
              </ng-template>
              <ng-template #loadingFees>
                <tr>
                  <td i18n="block.total-fees|Total fees in a block">Total fees</td>
                  <td style="width: 75%;"><span class="skeleton-loader"></span></td>
                </tr>
                <tr *ngIf="network !== 'liquid' && network !== 'liquidtestnet'">
                  <td i18n="block.subsidy-and-fees|Total subsidy and fees in a block">Subsidy + fees:</td>
                  <td><span class="skeleton-loader"></span></td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="isLoadingBlock && !error">

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td class="td-width" colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td class="td-width" colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="error">
    <div class="text-center">
      <span i18n="block.error.loading-block-data">Error loading block data.</span>
      <br><br>
      <i>{{ error.error }}</i>
    </div>
  </ng-template>

</div>

<br>
<br>
