<div class="account-page">
   <h1 i18n="account.title">Account</h1>
   <div>
      <p>
         An account was automatically created when you first visited the site.
         If you have cookies enabled, you will be automatically logged in each time you visit from this computer.
      </p>
      <p>Your user ID is 3718772.</p>
      <p>
         You can log into the same account from a different computer or browser using this link.
         Protect this secret link as it can be used to access your account balance.
      </p>
   </div>
</div>
