<div id="blockchain-container" dir="ltr" #blockchainContainer
  (mousedown)="onMouseDown($event)"
  (dragstart)="onDragStart($event)"
  >
  <div class="text-center" class="blockchain-wrapper">
    <div class="position-container {{ network }}">
      <span>
        <div>
          <div *ngIf="pastBlocks[0] && lastPastBlock" class="future-blocks">
            <app-tetris-blockspan-water [fromBlock]="pastBlocks[0]" [toBlock]="lastPastBlock"></app-tetris-blockspan-water>
            <app-tetris-blockspan-strike *ngIf="strike" [fromBlock]="pastBlocks[0].height" [toBlock]="strike.blockHeight" [elapsedTime]="strike.elapsedTime"></app-tetris-blockspan-strike>
          </div>
          <div>
            <app-tetris-add-strike
              *ngIf="pastBlocks[0] && pastBlocks" [fromBlock]="pastBlocks[0].height" [span]="span + 1"
              (emitAdd)="addStrike($event)">
            </app-tetris-add-strike>
          </div>
          <div>
            <app-tetris-blockspan-navigator
              *ngIf="pastBlocks[0] && pastBlocks" [fromBlock]="pastBlocks[1].height - 1" [span]="span + 1"
              (emitGo)="blockspanChange($event)">
            </app-tetris-blockspan-navigator>
          </div>
          <div class="blocks-container blockchain-blocks-container" *ngIf="(loadingBlocks$ | async) === false; else loadingBlocksTemplate">
            <div *ngFor="let pastBlock of pastBlocks; let i = index; trackBy: trackByPastBlocksFn" >
              <app-tetris-blockspan-water *ngIf="pastBlocks[i - 1] && pastBlocks" [fromBlock]="pastBlock" [toBlock]="pastBlocks[i - 1]" [ngStyle]="blockStyles[i]" (click)="goDetail(pastBlock, pastBlocks[i - 1])"></app-tetris-blockspan-water>
            </div>
            <div [hidden]="!arrowVisible" id="arrow-up" [style.transition]="transition" [ngStyle]="{'left': arrowLeftPx + 'px' }"></div>
          </div>
          <ng-template #loadingBlocksTemplate>
            <div class="blocks-container">
              <div class="flashing">
                <div *ngFor="let block of emptyBlocks; let i = index; trackBy: trackByBlocksFn" >
                  <div class="text-center bitcoin-block mined-block" id="bitcoin-block-{{ block.height }}" [ngStyle]="emptyBlockStyles[i]"></div>
                </div>
              </div>
            </div>
          </ng-template>        
        </div>
        <div id="divider"></div>
      </span>
    </div>
  </div>
</div>
