.observed-blockspan-detail {
  margin-top: 100px;

  &--top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    .blockspan {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;
      height: 340px;

      @media (max-width: 420px) {
        width: 100%;
        overflow-x: auto;
        padding: 0 30px;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 20px;  
      }

      svg-icon.smoke {
        position: absolute;
        top: -50px;
        right: -95px;
      }

      svg-icon.pipe {
        position: absolute;
        top: 70px;
        right: -31px;
        transform: rotate(90deg);
      }
    }

    .guess-btns {
      display: flex;
      justify-content: center;
      gap: 50px;

      button {
        flex: 1;
      }

      &--btn {
        cursor: pointer;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        &:hover {
          opacity: 0.8;
        }

        &.active {
          border: 5px solid #0aed0a;
        }

        &.hot {
          background-color: red;
          color: yellow;  
        }

        &.cold {
          background-color: #00ffff;
          color: #18aff6;
        }

        fa-icon {
          font-size: 36px;
        }
      }
    }

    .blockspan-table {
      .content {
        word-wrap: break-word;
        background-color: #24273e;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        box-shadow: 0.125rem 0.125rem 0.25rem #00000013;
        margin: 15px 0;

        .table {
          tr {
            white-space: initial;
          }
  
          td {
            word-break: break-all;
            max-width: 300px;
          }
        }

        .outcome {
          background-color: blue;
          padding: 3px 10px;

          &.hot {
            background-color: red;
          }
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;

      ::ng-deep .blockspan .tetris-blockspan {
        height: 330px;
      }

      .blockspan-table {
        width: 100%;
        padding: 20px;

        .content {
          width: 100%;
          overflow: auto;
        }
      }
    }
  }
}
