<a class="tetris-blockspan" [routerLink]="blockspanDetailLink()">
  <div class="fire-block">
    <div>
      <fa-icon *ngFor="let i of flameIconArray" class="left fire" [icon]="['fas', 'fire']" [fixedWidth]="true"></fa-icon>
    </div>
    <div>
      <fa-icon *ngFor="let i of flameIconArray" class="left fire" [icon]="['fas', 'fire']" [fixedWidth]="true"></fa-icon>
    </div>
    <a class="water-block" [routerLink]="strikeDetailLink()">
      <fa-icon *ngFor="let i of iconArray" class="left fire" [icon]="['fas', 'tint']" [fixedWidth]="true"></fa-icon>
      <span *ngIf="totalIconCount > maxCount" class="ml-1">+{{ totalIconCount - maxCount }}</span>
    </a>
  </div>
  <div class="bottom-block">
    <label>{{ elapsedTime }} secs</label>
  </div>
  <div class="to-block">
    {{ toBlock }}
    <div class="span-block">{{ span }}</div>
  </div>
  <div class="from-block">{{ fromBlock }}</div>
</a>
