.progress {
  background-color: #2d3348;
  position: relative;
  top: 5px;
}

.fiat {
  font-size: 13px;
  display: inline-block;
  margin-left: 10px;
}

.table {
  tr td {
    &:last-child{
      text-align: right;
      @media (min-width: 992px) {
        text-align: left;
      }
    }
  }
}

h1 {
  margin: 0px;
  padding: 0px;
  line-height: 1;
  @media (min-width: 576px) {
    float: left;
  }
}

.chart-container{
  margin: 20px auto;
  @media (min-width: 768px) {
    margin: auto;
  }
}

input.betAmount {
  max-width: 300px;
  margin-left: 30px;
}

.bet-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .card {
    cursor: pointer;
    text-align: center;
    background: #1a9436;
    padding: 15px;

    &.slow {
      background: #dc3545;

      &:hover {
        background: #dc3545b3;
      }
    }

    &:hover {
      background: #1a9436b3;
    }
  }
}
