<div class="container-xl" *ngIf="mempoolBlock$ | async as mempoolBlock">

  <div class="title-block">
    <h1>{{ mempoolBlock.height }} (Next block)</h1>
    <button [routerLink]="['/' | relativeUrl]" class="btn btn-sm float-right">&#10005;</button>
  </div>

  <div class="clearfix"></div>

  <div class="box">
    <form [formGroup]="betForm">
      <h2 class="d-flex justify-content-center">
        Your Bet
        <input formControlName="betAmount" type="number" class="form-control betAmount" placeholder="Enter amount" (keyup)="calcAmountWonEta()">
      </h2>
      <div class="bet-btns">
        <div class="card slow" (click)="doBet()">
          <h3>Bet Slow</h3>
          <div>Receive {{ slowAmountWonETA | number:'1.0-0' }} ({{ slowAmountWonETA / betAmount | number:'1.0-1' }}x) if block is slow, and no more bets are received</div>
        </div>
        <div class="card" (click)="doBet(true)">
          <h3>Bet Fast</h3>
          <div>Receive {{ fastAmountWonETA | number:'1.0-0' }} ({{ fastAmountWonETA / betAmount | number:'1.0-1' }}x) if block is fast, and no more bets are received</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md chart-container">
          <remi-bet-pie-chart *ngIf="pieData" [data]="pieData"></remi-bet-pie-chart>
        </div>
      </div>
    </form>
  </div>

  <br>

</div>
