<div class="container-xl" *ngIf="mempoolBlock$ | async as mempoolBlock">

  <div class="title-block">
    <h1>{{ mempoolBlock.height }} (Next block)</h1>
    <button [routerLink]="['/' | relativeUrl]" class="btn btn-sm float-right">&#10005;</button>
  </div>

  <div class="clearfix"></div>

  <div class="box">
    <div class="row">
      <div class="col-md">
        <form [formGroup]="betForm">
          <div class="row">
            <h2 class="col-md">Your Bet</h2>
            <div class="col-md">
              <input formControlName="betAmount" type="number" class="col-md form-control" placeholder="Enter amount">
              <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-danger mr-4" type="button" (click)="doBet()">Bet slow</button>
                <button class="btn btn-success" type="button" (click)="doBet(true)">Bet Fast</button>
              </div>    
            </div>
          </div>
        </form>
      </div>
      <div class="col-md chart-container">
        <remi-bet-pie-chart *ngIf="pieData" [data]="pieData"></remi-bet-pie-chart>
      </div>
    </div>
  </div>

  <br>

</div>
