<a class="base-box-hor {{type}}" [ngStyle]="{'background-color': this.color}" [routerLink]="link">
  <div class="base-box-hor--utc">
    <div class="main">
      <div class="to-block">{{ toTime * 1000 | date:'yyyy-MM-dd HH:mm' }}</div>
      <div class="span-block">{{ timeSpan }}</div>
      <div class="from-block">{{ fromTime * 1000 | date:'yyyy-MM-dd HH:mm' }}</div>
    </div>
    <div class="footer">utc time</div>
  </div>
  <div class="base-box-hor--sec">
    <div class="main">
      <div class="to-block">{{ toTime }}</div>
      <div class="span-block">{{ toTime - fromTime || '?' }}</div>
      <div class="from-block">{{ fromTime }}</div>
    </div>
    <div class="footer">seconds</div>
  </div>
  <div class="base-box-hor--nbdr">
    <div class="main"><span>{{ span }}</span> * 600 * 100 / <span>{{ toTime - fromTime }}</span> = {{ nbdr || '?' }}</div>
    <div class="footer">normalized block discovery rate</div>
  </div>
</a>