.observed-block-detail {
  margin-top: 150px;

  .bitcoin-block {
    width: 145px;
    height: 125px;
  }
  
  .blockLink {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  
  .blockLink:hover {
    text-decoration: none;
  }
  
  .blockLink.disabled {
    pointer-events: none;
  }
  
  .mined-block {
    position: relative;
    top: 0px;
    transition: 2s;
    margin: auto;
  }
  
  .block-size {
    font-size: 16px;
    font-weight: bold;
  }
  
  .blocks-container {
    position: absolute;
    top: 0px;
    left: 40px;
  }
  
  .block-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      margin-bottom: 10px;
    }

    fa-icon {
      cursor: pointer;
    }

    button {
      margin: 0 10px;
    }
  }

  .block-t {
    width: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -60px;
    left: -124px;
  }
  
  .time-difference {
    font-size: 13px;
  }
  
  .time-utc {
      font-size: 9px;
      margin-top: 10px;
      margin-bottom: 2px;
  }
  .time-utc-posix {
    font-size: 9px;
    margin-right: 2px;
  }
  .time-utc-gold {
      font-size: 9px;
      margin-top: 10px;
      margin-bottom: 2px;
      color: #F1B82D;
  }
  .mediantime-utc {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  .mediantime-posix {
    font-size: 12px;
    margin-right: 2px;
  
    &.gold {
      color: #F1B82D;
    }
  }
  a.m-tooltip {
    z-index: 10;
    margin-left: 2px;
  }
  .fees {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  
  .fee-span {
    font-size: 11px;
    margin-bottom: 5px;
    color: #fff000;
  }
  
  .transaction-count {
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 4px;
  }
  
  .block-height {
    position: absolute;
    font-size: 16px;
    bottom: 160px;
    width: 100%;
    left: -12px;
    z-index: 1;
  }
  
  .bitcoin-block::after {
    content: '';
    width: 145px;
    height: 24px;
    position:absolute;
    top: -24px;
    left: -20px;
    background-color: #232838;
    transform:skew(40deg);
    transform-origin:top;
  }
  
  .bitcoin-block::before {
    content: '';
    width: 20px;
    height: 125px;
    position: absolute;
    top: -12px;
    left: -20px;
    background-color: #191c27;
  
    transform: skewY(50deg);
    transform-origin: top;
  }
  .bitcoin-block-bottom-horizen,
  .bitcoin-block-bottom-vertical {
    position: relative;
    left: unset !important;
  }
  .bitcoin-block-bottom-horizen {
    width: 100%;
    height: 40px;
    z-index: 2;
  }
  .bitcoin-block-bottom-vertical {
    width: 40px;
    height: 40px;
  }
  
  .bitcoin-block-bottom-horizen::before {
    content: '';
    width: 20px;
    height: 60px;
    position: absolute;
    top: -12px;
    left: -20px;
    background-color: #191c27;
  
    transform: skewY(50deg);
    transform-origin: top;
  }
  
  .bitcoin-block-bottom-horizen::after {
    content: "";
    width: 189px;
    height: 24px;
    position: absolute;
    top: -24px;
    left: -20px;
    background-color: #232838;
    transform: skew(40deg);
    transform-origin: top;
  }
  .bitcoin-block-bottom-vertical::before {
    content: '';
    width: 20px;
    height: 60px;
    position: absolute;
    top: -12px;
    left: -20px;
    background-color: #191c27;
  
    transform: skewY(50deg);
    transform-origin: top;
  }
  
  .black-background {
    background-color: #11131f;
    z-index: 100;
    position: relative;
  }
  
  #arrow-up {
    position: relative;
    left: 30px;
    top: 140px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #FFF;
  }
  
  .flashing {
    animation: opacityPulse 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
  }
  
  @keyframes opacityPulse {
    0% {opacity: 0.7;}
    50% {opacity: 1.0;}
    100% {opacity: 0.7;}
  }  
}

::ng-deep .modal-content {
  color: #1d1f31;
}
