<div class="text-center bitcoin-block mined-block" [class.fast]="isFast" [ngStyle]="blockStyle">
  <a draggable="false" [routerLink]="['/bet-parimutuel/' | relativeUrl, blockNumber, nlockTime]" class="blockLink" [ngClass]="{'disabled': (this.stateService.blockScrolling$ | async)}">&nbsp;</a>
  <div class="block-height">
    <a [routerLink]="['/bet-parimutuel/' | relativeUrl, blockNumber, nlockTime]">{{ blockNumber }} / {{ nlockTime }}</a>
  </div>
  <div class="block-body">
    <div>{{ medianTimeDiff }} seconds</div>
    <div>( {{ isFast ? '<' : '>=' }} 600 )</div>
    <div>{{ isFast ? 'FAST' : 'SLOW' }}<a class="m-tooltip" [ngbTooltip]="tooltipContent" placement="auto" container="body">[?]</a></div>
  </div>
</div>
<ng-template #tooltipContent>
  <div>bet outcome: FAST if medinatime of block {{ blockNumber }} is less than {{ nlockTime }}. SLOW otherwise.</div>
</ng-template>
