<div class="text-center bitcoin-block mined-block" [class.fast]="isFast" [ngStyle]="blockStyle">
  <a draggable="false" [routerLink]="['/bet-parimutuel/' | relativeUrl, blockNumber, nlockTime]" class="blockLink" [ngClass]="{'disabled': (this.stateService.blockScrolling$ | async)}">&nbsp;</a>
  <div class="block-height">
    <a [routerLink]="['/bet-parimutuel/' | relativeUrl, blockNumber, nlockTime]">{{ blockNumber }} / {{ nlockTime }}</a>
  </div>
  <div class="block-body">
    <div>{{ medianTimeDiff }} seconds</div>
    <div>( {{ isFast ? '<' : '>=' }} 600 )</div>
    <div>{{ isFast ? 'FAST' : 'SLOW' }}<a class="m-tooltip" [ngbTooltip]="tooltipContent" placement="auto" container="body">[?]</a></div>
  </div>
</div>
<ng-template #tooltipContent>
  <div>block {{ blockNumber }} is resolved as {{ isFast ? 'FAST' : 'SLOW' }} because {{ nlockTime }} < {{ block.mediantime }}.</div>
  <div>(the bet nlocktime is < the block median posixtime).</div>
  <div>This bet was originated as a mediantime difference between blocks {{ prevBlock.height }} and {{ block.height }}.</div>
  <div>Since this is a 1-block difference, it is fast if this difference is < 600 * 1.</div>
  <div>The difference is {{ block.mediantime }} - {{ prevBlock.mediantime }}, or {{ medianTimeDiff }} seconds.</div>
</ng-template>
