<div class="preview-component text-center">
  <div><a [routerLink]="blockspansLink()">Blockspans</a></div>
  <div><a [routerLink]="pastStrikeDetailLink()">Strike Detail(Past)</a></div>
  <div><a [routerLink]="futureStrikeDetailLink()">Strike Detail(Future)</a></div>
  <div><a [routerLink]="pastEnergySummaryLink()">Energy Summary(Past)</a></div>
  <div><a [routerLink]="futureEnergySummaryLink()">Energy Summary(Future)</a></div>
  <div><a [routerLink]="pastEnergyDetailLink()">Energy Detail(Past)</a></div>
</div>