:host {
  height: 100%;
  min-width: 100px;
}

.blockspan {
  position: relative;
  height: 100%;

  .to-block.dummy {
    top: 0;
    height: 30%;
    visibility: hidden;
  }

  .to-block,
  .from-block {
    height: 15%;
    background-color: yellow;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
  }

  .span-block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    position: absolute;
    width: 50%;
    height: 9%;
    background-color: orange;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border: 1px solid black;
  }

  .footer {
    background-color: yellow;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
  }
}
