.observed-blockspan-detail {
  margin-top: 100px;

  &--top {
    display: flex;
    justify-content: center;
    gap: 150px;

    .blockspan {
      min-width: 250px;
      max-width: 400px;
      max-height: 400px;

      .guess-btns {
        display: flex;
        justify-content: center;
        gap: 50px;

        button {
          flex: 1;
        }

        &--btn {
          cursor: pointer;
          width: 100px;
          height: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 5px;

          &:hover {
            opacity: 0.8;
          }

          &.active {
            border: 5px solid #0aed0a;
          }

          &.hot {
            background-color: red;
            color: yellow;  
          }

          &.cold {
            background-color: #00ffff;
            color: #18aff6;
          }

          fa-icon {
            font-size: 36px;
          }
        }
      }
    }

    .blockspan-table {
      .content {
        word-wrap: break-word;
        background-color: #24273e;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        box-shadow: 0.125rem 0.125rem 0.25rem #00000013;
        margin-bottom: 15px;

        .table {
          tr {
            white-space: initial;
          }
  
          td {
            word-break: break-all;
            max-width: 300px;
          }
        }

        .outcome {
          background-color: blue;
          padding: 3px 10px;

          &.hot {
            background-color: red;
          }
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;

      ::ng-deep .blockspan .tetris-blockspan {
        height: 330px;
      }

      .blockspan-table {
        width: 100%;
        padding: 20px;

        .content {
          width: 100%;
          overflow: auto;

          .table td {
            min-width: 150px;
          }
        }
      }
    }
  }
}
