<div *ngIf="fromBlock && toBlock" class="observed-blockspan-detail">
  <div class="observed-blockspan-detail--top">
    <div class="blockspan">
      <!-- <app-tetris-blockspan-water [fromBlock]="fromBlock" [toBlock]="toBlock"></app-tetris-blockspan-water> -->
      <app-tetris-blockspan-strike [fromBlock]="fromBlock.height" [toBlock]="strike.blockHeight" [elapsedTime]="strike.elapsedTime"></app-tetris-blockspan-strike>
      <h3>Guess</h3>
      <div class="guess-btns">
        <button type="button" class="btn btn-primary" (click)="guess('fast')">Fast</button>
        <button type="button" class="btn btn-secondary" (click)="guess('slow')">Slow</button>
      </div>
    </div>
    <div class="blockspan-table">
      <h3>Strike < {{ fromBlock.height }} - {{ toBlock.height }} / {{ strikeElapsedTime }} ></h3>
      <div class="content">
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <td></td>
              <td>Block</td>
              <td>Mediantime (UTC)</td>
              <td>Mediantime (Posix Seconds)</td>
              <td>Energy</td>
            </tr>
            <tr>
              <td>From value</td>
              <td>{{ fromBlock.height }}</td>
              <td>{{ fromBlock.mediantime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
              <td>{{ fromBlock.mediantime }}</td>
              <td><div></div></td>
            </tr>
            <tr>
              <td>To value</td>
              <td>{{ toBlock.height }}</td>
              <td>{{ toBlock.mediantime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
              <td>{{ toBlock.mediantime }}</td>
              <td><div></div></td>
            </tr>
            <tr>
              <td>Strike</td>
              <td>{{ strike.blockHeight }}</td>
              <td>{{ strike.nLockTime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
              <td>{{ strike.nLockTime }}</td>
              <td><div></div></td>
            </tr>
            <tr>
              <td>Blockspan Time</td>
              <td>{{ toBlock.height - fromBlock.height }}</td>
              <td>{{ toHHMMSS(toBlock.mediantime - fromBlock.mediantime) }}</td>
              <td>{{ timeDiff }}</td>
              <td>{{ energyDiff | number }} %</td>
            </tr>
            <tr>
              <td>Strike Time</td>
              <td>{{ strike.blockHeight - fromBlock.height }}</td>
              <td>{{ toHHMMSS(strike.nLockTime - fromBlock.mediantime) }}</td>
              <td>{{ strikeElapsedTime }}</td>
              <td>0 %</td>
            </tr>
            <tr>
              <td>OUTCOME</td>
              <td></td>
              <td></td>
              <td></td>
              <td><div class="outcome" [class.hot]="toBlock.mediantime < strike.nLockTime">HOTTER</div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="content p-3">
        <div>Creator: Alice</div>
        <div>Start block at creation time: 89770</div>
        <div>Span at creation time: 8</div>
      </div> -->
      <h3>Guesses</h3>
      <div class="content">
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <td>User</td>
              <td>Guess</td>
              <td>Guess Time</td>
            </tr>
            <tr *ngFor="let guess of slowFastGuesses">
              <td>{{ guess.userName }}</td>
              <td>{{ guess.guess }}</td>
              <td>{{ guess.creationTime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
